// ==================================================
// SPECIFIC FOOTER STYLES
// ==================================================
footer {
    background-color: $charcoal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    p {
        text-align: center;
    }
}



