// ==================================================
// SPECIFIC FORMS STYLES
// ==================================================

// ------ BLOG FORM ------
.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .name {
        width: 47%;
        margin-bottom: .5rem;
        height: 2rem;
        padding: 1.5rem;
        border: none;
        border-bottom: 2px solid $marigold;
        background-color: $camoGreen;
    }
    .email {
        width: 47%;
        margin-bottom: .5rem;
        height: 2rem;
        padding: 1.5rem;
        border: none;
        border-bottom: 2px solid $marigold;
        background-color: $camoGreen;
    }
    ::placeholder {
        color: $iceBlue;
        font-size: 1rem;
        font-family: $lato;
        font-weight: 300;
    }
    .comment {
        font-size: 1rem;
        font-family: $lato;
        font-weight: 300;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border: 2px solid $marigold;
        background-color: $camoGreen;
        resize: none;
    }
    
    // ------ .message is specifically for the contact page ------ 
    .message {
        font-size: 1rem;
        font-family: $lato;
        font-weight: 300;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border: 2px solid $marigold;
        background-color: $charcoal;
        resize: none;
    }
    .submit {
        font-family: $dokdo;
        font-size: 2rem;
        padding: .1rem .775rem;
        color: $iceBlue;
        background-color: $mudGreen;
        margin-top: 1rem;
        border: none;
        width: 100%;
    }
}

.contactForm .contactName,
.contactForm .contactEmail {
    background-color: $charcoal;
}

.commentPostBoxForm {
    margin-bottom: 5rem;
}


