
// ==================================================
// SPECIFIC BACKGROUND IMAGE AND FREE TRIALS STYLES
// ==================================================
// ---------- index.html ----------
.bgImg {
    height: 50vh;
    background-image: url(../assets/bannerImage.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

// ---------- index.html ----------
.freeTrialsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% 0;
    .h2FreeTrials {
        font-size: 2.25rem;
        text-align: center;
    }
    .freeTrialsText {
        text-align: left;
        display: block;
        margin: 2rem 0rem;
    }
    .freeTrialsBtn {
        align-self: center;
        text-align: center;
        width: 15rem;
    }
}

