// ==================================================
// MEDIA QUERIES - INDEX
// ==================================================
@media (max-width: 1305px) {
    // _indexMoreInfo.scss --- BEGINS
    .moreInfo {
        height: auto;
        .moreInfoFlex {
            display: block;
            margin: 1rem 0;
            .moreInfoRow {
                width: 100%;               
            }
        }
    }

    .infoImgTop {
        position: static;
    }
    .infoImgBot {
        position: static;
    }
     
    .moreInfoImgDiv {
        position: static;
        height: auto;
    }
    
    .moreInfoBoxTop {
        margin: auto;
    }
    
    .moreInfoDFlexBot {
        width: 100%;
    }
    
    .moreInfoTextBot {
        width: 100%;
    }
    
    .infoImg {
        display: none;
    }

    // _indexMoreInfo.scss --- ENDS

} 

@media (max-width: 1256px) {
    .newAdventure .newAdventureFlex {
        padding: 10rem 0;
    }
}

@media (max-width: 1055px) {
    .features .featuresFlex .featuresSubFlex {
        display: block;
    }

    .features .featuresFlex .featuresSubFlex .featuresSubsection{
        width: 100%;
    }
}

@media (max-width: 900px) {    
    header {
        height: 100%;
    }

    .headerBotFlex h1 {
        width: 100%;
    }

    .headerMainStyles {
        background-image: none;
        height: 40vh;
    }

    .headerBotFlex {
        justify-content: center;
    }

    .headerBotFlex .headerYogaImgBox {
        display: none;
    }

    .mainNavUl {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }

    .newAdventure .aerobics {
        display: none;
    }

    .newAdventure .newAdventureFlex p.newAdventure {
        padding-right: 0px;
    }
}

@media (max-width: 750px) {
    div.freeTrialsDiv {
        margin-top: 0;
    }
    .headerMainStyles {
        height: 60vh;
    }
    .newAdventure 
    .newAdventureFlex {
        padding: 1rem 0;
    }
}

@media (max-width: 635px) {
    .freeTrialsDiv 
    .freeTrialsText {
        text-align: center;
    }

    .freeTrialsDiv 
    .h2FreeTrials {
        padding-top: 0;
    }
}

@media (max-width: 475px) {
    .featH2,
    .featText {
        display: none;
    }
    .features 
    .featuresFlex {
        align-items: center;
    }
    .fontAwe {
        margin: 1rem 0;
    }
    .bgImg {
        height: 30vh;
    }
}

@media (max-width: 400px) {
    .headerBotFlex h1 {
        font-size: 3rem;
    }
    .headerBotFlex h1 span {
        font-size: 1.5rem;
    }
}