// ==================================================
// MEDIA QUERIES - CONTACT
// ==================================================

@media (max-width: 1116px) {
    .formWidthBox {
        width: 100%;
    }
    .contactMethods {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .contSocNavUl {
        justify-content: center;
    }
    .contSocNavUl li {
        padding: 1rem;
    }
}

@media (max-width: 1070px) {
    .contactForm .contactName, 
    .contactForm .contactEmail {
        width: 100%;
    }

    h1.contactH1 {
        line-height: 5rem;
    }
}

@media (max-width: 550px) {
    .contactForm {
        display: none;
    }
}